footer{
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-top:-100px;
}

.footerDiv{
    font-family:"Lato", sans-serif;
    font-style:italic;
    color:#393939;
}

.footerDiv a{
    margin:10px;
    text-decoration:none;
    color:#393939;
}

.icon{
    font-size:30px;
}